li:hover {
    border-radius: .5em;
    background: rgb(16,163,211); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(16,163,211,.75) 0%, rgba(234,0,235,.75) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(16,163,211,.75) 0%,rgba(234,0,235,.75) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(16,163,211,.75) 0%,rgba(234,0,235,.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10a3d3', endColorstr='#ea00eb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    .MuiAvatar-colorDefault {
        color: rgb(255,255,255);
    }
}